body {
    background-color: lightcyan;
    border: 20px solid black;
    padding: 30px

}

h1 {
    color: darkcyan;
    font-family: cursive
}

h2 {
    font-family:fantasy;
    border-bottom: 1px solid black;
}
